<mat-card appearance="outlined">
  <mat-card-content>
    <table class="user-table">
      <tr>
        <th>Name</th>
        <th>E-Mail</th>
        <th>City</th>
      </tr>
      <tr>
        <td>rts</td>
        <td>srtst</td>
        <td>srts</td>
      </tr>
      <tr>
        <td>rts</td>
        <td>srtst</td>
        <td>srts</td>
      </tr>
    </table>
  </mat-card-content>
</mat-card>

<button
  (click)="openDialog()"
  class="add-user-btn"
  matTooltipPosition="above"
  matTooltip="Add user"
  mat-fab
>
  <mat-icon>add</mat-icon>
</button>
